:root {
  --color-mint: #b4d6cd;
  --color-pink: #ff4e88;
  --color-salmon: #ff8c9e;
  --color-yellow: #ffda76;
  --color-navy: #180161;
  --color-purple: #4f1787;
  --color-magenta: #eb3678;
  --color-orange: #fb773c;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-left: 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: whitesmoke;
  color: #3b3b3b;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
