@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kadwa:wght@400;700&display=swap");

/* FOOTER */

.footer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;
  margin-top: 2rem;
  background-color: #fed8e6;
}

.social-links {
  display: flex;
  gap: 1rem;
  width: 100px;
  height: 80px;
  align-items: center;
}

.social-links a {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  justify-content: center;
}
.social-links img {
  width: 40px;
  height: 40px;
  opacity: 3;
  transition: opacity 0.3s ease;
}
footer p {
  font-size: 1.2rem;
  color: #000;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

footer p span {
  color: var(--color-pink);
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    text-align: left;
    padding: 2rem 2rem;
  }
}
